<div class="jumbotron jumbotron-fluid animated fadeIn">
    <div class="container">
        <h1 class="display-3 animated fadeIn fast">About Comic Page</h1>
        <p class="lead animated fadeIn">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos illo inventore magnam. Nesciunt quidem laudantium quas consequatur harum ipsa voluptate deleniti, soluta illum provident officiis? Dignissimos nam repellendus dolor assumenda.</p>
        <hr class="my-2">
        <p>More information</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://www.udemy.com/" role="button">Udemy</a>
        </p>
    </div>
</div>